<%= form_for @portfolio, html: { multipart: true } do |f| %>
  <% if portfolio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(portfolio.errors.count, "error") %> prohibited this portfolio from being saved:</h2>

      <ul>
      <% portfolio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.file_field :photo1 %>
    <%= f.hidden_field :photo1_cache %>
    <%= image_tag(@portfolio.photo1) if @portfolio.photo1? %>
  </div>

  <div class="field">
    <%= f.file_field :photo2 %>
    <%= f.hidden_field :photo2_cache %>
    <%= image_tag(@portfolio.photo2) if @portfolio.photo2? %>
  </div>

  <div class="field">
    <%= f.file_field :photo3 %>
    <%= f.hidden_field :photo3_cache %>
    <%= image_tag(@portfolio.photo3) if @portfolio.photo3? %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
