<%= form_for(portfolio) do |f| %>
  <% if portfolio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(portfolio.errors.count, "error") %> prohibited this portfolio from being saved:</h2>

      <ul>
      <% portfolio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :photo1 %>
    <%= f.text_field :photo1 %>
  </div>

  <div class="field">
    <%= f.label :photo2 %>
    <%= f.text_field :photo2 %>
  </div>

  <div class="field">
    <%= f.label :photo3 %>
    <%= f.text_field :photo3 %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
